.employee-page {
    padding: 2rem;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    ::ng-deep .p-dialog .p-field {
        margin-bottom: 1rem;
    }

    .dialog-footer {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 1rem;
    }
}